.container {
  position: absolute;
  width: 4.6rem;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  padding: 12px 8px;
  z-index: 100;
  border-right: 1px solid #47474766;
  z-index: 50;
  top: 0;
  left: 0;
  /* // position: fixed; */
}

.containerMask {
  width: 4.6rem;
  height: 100vh;
}

.hamburgerMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #47474766;
  padding: 1rem 0 1.5rem 0;
}

.hamburger__icon__close {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #47474766;
  padding: 0.8rem 0 0.8rem 0;
  transition: border 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  > div {
    transform: inherit;
    transition: transform 0.5s;
    min-width: 1rem;
    max-height: 0.5px;
    height: 0.5px;
    background: #fff;
    /* // margin: 2px 0 2px 0; */
  }

  > div:nth-child(2) {
    @apply opacity-100 transition-opacity duration-200 ease-linear;
  }
}
.hamburger__icon__open {
  @apply border-[#fff];

  > div:nth-child(1) {
    @apply rotate-[135deg] translate-y-[0.35rem];
  }
  > div:nth-child(2) {
    @apply opacity-0 transition-opacity duration-200 ease-linear;
  }
  > div:nth-child(3) {
    @apply rotate-45 -translate-y-[0.35rem];
  }
}

.sidebarNavigate {
  @apply flex flex-col h-full transition-opacity ease-in-out duration-500;
  padding: 1rem 0;
}

.sidebarChapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.sidebarTitle {
  color: white;
  font-size: 10px;
  margin-top: 4px;
}
.chapterIcon {
  @apply transition-all duration-200 hover:border-[#fff];
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #47474766;
  > img {
    width: 45%;
    height: 45%;
  }
}

.borderHorizonTop {
  @apply bg-[#47474766] inline-block h-full max-w-[1px] w-[1px] mb-10 relative;
}
.borderHorizonTop::before {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute top-0 z-10 left-[-1.5px];
  content: "";
}

.borderHorizonTop::after {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute bottom-0 z-10 left-[-1.5px];
  content: "";
}
.borderHorizonBottom {
  @apply bg-[#47474766] inline-block h-full max-w-[1px] w-[1px] mt-10 relative;
}
.borderHorizonBottom::before {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute top-0 z-10 left-[-1.5px];
  content: "";
}

.borderHorizonBottom::after {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute bottom-0 z-10 left-[-1.5px];
  content: "";
}
.sideBarMainTitle {
  @apply text-sm text-white rotate-[270deg] flex items-center;
  letter-spacing: 4px;
}

.sidebarSettings {
  @apply flex items-center justify-center border-t w-full border-[#47474766] pt-3;
  > img {
    @apply p-1 rounded-full border border-[#47474766] cursor-pointer hover:border-[#fff] transition-all duration-200;
  }
}

.sidebarBackdrop {
  @apply absolute top-0 left-0 min-h-screen min-w-[100vw] z-40;
}

.hide {
  /* // @apply invisible; */
  /* // backdrop-filter: blur(0px) brightness(1) saturate(100%) grayscale(0%) */
  /* // 	drop-shadow(0px 0px 0px #47474766); */
  backdrop-filter: revert;
  pointer-events: none;
  transition-property: backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.show {
  /* // @apply visible; */
  backdrop-filter: blur(8px) brightness(0.75) saturate(90%) grayscale(30%);
  transition-property: backdrop-filter;
  transition-duration: 700ms;
  transition-timing-function: ease-in-out;
}

.sidebarContainer {
  @apply h-screen absolute top-0 left-[4.6rem] z-50 bg-[#222222] overflow-hidden text-white;
}

.sidebarShowAnimation {
  @apply opacity-100 translate-y-0;
  transition: opacity 0.2s linear 0.5s,
    transform 1s cubic-bezier(0.075, 0.02, 0.165, 0.9) 0.5s;
}

.sidebarHideAnimation {
  @apply opacity-0 translate-y-6;
  transition: opacity 0.2s linear,
    transform 0s cubic-bezier(0.075, 0.02, 0.165, 0.8) 0.3s;
}

.sidebarContent {
  @apply pl-6 pr-12 pt-12 flex flex-col justify-between h-full;

  .sidebarTitleContainer {
    @apply flex flex-col items-start;
  }
  .openingSoon {
    @apply py-6 border-y border-[#47474766] px-3 flex flex-col justify-between whitespace-nowrap;
    > p {
      @apply text-xs opacity-60 font-thin;
    }
    > span {
      @apply text-lg opacity-60 mt-3;
      letter-spacing: 0.2rem;
      line-height: 1rem;
    }
  }
  .contact {
    @apply flex flex-wrap;
    .contactBox {
      @apply py-6 px-3 flex flex-col justify-between whitespace-nowrap w-1/2 uppercase;
      > p {
        @apply text-xs opacity-60 font-thin;
        letter-spacing: 0.1rem;
      }
      > span {
        @apply text-lg opacity-60 mt-3;
        letter-spacing: 0.2rem;
        line-height: 1rem;
      }
    }
  }
  .sidebarFooter {
    @apply flex border-[#47474766] border-t py-3 justify-center;
    > p {
      @apply px-3 opacity-60 uppercase whitespace-nowrap text-xs;
      letter-spacing: 0.05rem;
      line-height: 21px;
    }
    > p:nth-child(2) {
      @apply border-x border-white/60;
    }
  }
}

.sidebarContentTitle {
  @apply ml-3 mt-4 pb-3 text-3xl font-thin relative inline-block whitespace-nowrap;
  font-family: "guyot-headline", serif;
  letter-spacing: 0.25rem;
  transition: margin ease-in-out 0.3s;

  > p {
    @apply text-[0.5rem] h-fit absolute top-1 left-[105%];
    font-family: "anonymous-pro", monospace;
    font-weight: 100;
    line-height: 1rem;
  }
}

.sidebarContentTitle::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 0.25rem);
  height: 0.8px;
  background: #fff;
  opacity: 0.8;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  animation: hoverOut ease-in-out 0.4s forwards;
}

.sidebarContentTitle:hover::before {
  animation: hoverIn ease-in-out 0.5s forwards;
}

.sidebarContentTitle:hover {
  @apply ml-[1.2rem];
  transition: margin ease-in-out 0.4s;
}
@keyframes hoverIn {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes hoverOut {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
