.container {
  // position: absolute;
  width: 4.6rem;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  padding: 12px 8px;
  z-index: 100;
  border-right: 1px solid #47474766;
}

.hamburgerMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #47474766;
  padding: 1rem 0 1.5rem 0;
}

.hamburger__icon {
  @apply transition-all duration-200 hover:border-[#fff];
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #47474766;

  > div {
    min-width: 1rem;
    max-height: 1px;
    height: 1px;
    background: #fff;
    margin: 1.5px 0 1.5px 0;
  }
}

.sidebarNavigate {
  @apply flex flex-col h-full;
  padding: 1rem 0;
}

.sidebarChapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.sidebarTitle {
  color: white;
  font-size: 10px;
  margin-top: 4px;
}
.chapterIcon {
  @apply transition-all duration-200 hover:border-[#fff];
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #47474766;
  > img {
    width: 45%;
    height: 45%;
  }
}

.borderHorizonTop {
  @apply bg-[#47474766] inline-block h-full max-w-[1px] w-[1px] mb-10 relative;
}
.borderHorizonTop::before {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute top-0 z-10 left-[-1.5px];
  content: "";
}

.borderHorizonTop::after {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute bottom-0 z-10 left-[-1.5px];
  content: "";
}
.borderHorizonBottom {
  @apply bg-[#47474766] inline-block h-full max-w-[1px] w-[1px] mt-10 relative;
}
.borderHorizonBottom::before {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute top-0 z-10 left-[-1.5px];
  content: "";
}

.borderHorizonBottom::after {
  @apply w-1 h-1 rounded-full bg-[#47474766] inline-block absolute bottom-0 z-10 left-[-1.5px];
  content: "";
}
.sideBarMainTitle {
  @apply text-sm text-white rotate-[270deg] flex items-center;
  letter-spacing: 4px;
}

.sidebarSettings {
  @apply flex items-center justify-center border-t w-full border-[#47474766] pt-3;
  > img {
    @apply p-1 rounded-full border border-[#47474766] cursor-pointer hover:border-[#fff] transition-all duration-200;
  }
}
